<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    </head>
    <nav>
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Welcome</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Contact</a>
            </li>
          </ul>
        </nav>

    <header>
        <h1>Welcome to Page 2!</h1>
    </header>

    <aside>
        <button type="button" class="btn btn-info">Return to Homepage</button>
    </aside>

   

    
        <div class="card" style="width: 18rem;">
            <img src="https://www.stonybrook.edu/sbu-brand/_images/2015/10/logo_stacked_vert.jpg" class="card-img-top" alt="SBU">
            <div class="card-body">
              <h5 class="card-title">Get to know us!</h5>
              <p class="card-text">Stony Brook University, officially the State University of New York at Stony Brook, is a public research university in Stony Brook, New York.</p>
              <a href="#" class="btn btn-primary">Click Here</a>
            </div>
          </div>

